/* ==========================================================================
Styles for Footer component
========================================================================== */

// import variables
@import "../../../assets/styles/variables";

// Start styles Footer component
.m-footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:$dark-blue;
  color: white;
  text-align: center;
  padding: 20px;

  .footer-content {
    font-size: 14px;
    color: #ffffff8a;
  }
}
