/* ==========================================================================
Styles for Links component
========================================================================== */

// import variables
@import "../../../assets/styles/variables";

// Start styles Links component
.a-links {
  color: darkblue;
  &:hover {
    text-decoration: none;
  }
  &:active, &:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
  }
}
